.navbar {
  background-color: #fff;
  color: #1e0079;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #333;
}

.navbar-logo img {
  width: 35px;
  height: 35px;
}

.nav-item {
  cursor: pointer;
  margin-left: 24px;
}

.nav-item i {
  font-size: 20px;
  color: #6f42c1;
}

.active {
  color: #6f42c1;
}

.nav-link {
  padding: 6px !important;
}

.nav-link.active {
  color: #6f42c1;
  font-weight: 600;
}
